{% extends 'base.html' %}
{% block content %}

    <h1>Monthly Payroll VIEW</h1>
   <h2> {{ month|date:"F" }} </h2>
     <table class="table table-filter table-hover m-b-0">


        <tbody>
            <th style="color:orange">Employee</th>
            <th style="color:green">Net Pay</th>
            <th>Performance <span style="color:maroon">Allowance</span></th>
            <th>Travel <span style="color:maroon">Allowance</span></th>
            <th>Leave <span style="color:maroon">Allowance</span></th>
            <th>Medical <span style="color:maroon">Allowance</span></th>
            <th>Transport <span style="color:maroon">Allowance</span></th>
            <th style="color: green">Gross Pay</th>
            <th style="color: green">Date Created</th>
            <!--<th style="color: green">Month</th>-->

            <!-- <th>Edit</th> -->
            <!-- <th>Delete</th> -->

                      {% for s in object_list %}
            <tr data-status="">
                <!--<td><div class="media-object"><img src="../assets/images/xs/avatar1.jpg" alt="" width="35px" class="rounded-circle"></div></td>-->
                <td>{{ s.employee.first_name }} {{ s.employee.last_name }}</td>
                <td>{{ s.net_pay }} </td>
                <td>{{ s.performance_allowance }} </td>
                <td>{{ s.travel_allowance }} </td>
                <td>{{ s.leave_allowance }} </td>
                <td>{{ s.medical_allowance }} </td>
                <td>{{ s.travel_allowance }} </td>


                <td><b>{{ s.gross_pay }} </b></td>
               <td> {{ s.date_created|date:"F j, Y" }} </td>

                 <!--<td><a class="btn btn-secondary" href="{% url 'update_salary' s.id %}">Edit</a> </td>-->
                <!-- <td><a class="btn btn-danger">Delete</a> </td> -->



            </tr>
            {% endfor %}

            <a href="{% url 'export_salary_xls' %}">Export all Payroll as Excel</a>
        </tbody>
    </table>

    {% if previous_month %}
        Previous Month: {{ previous_month|date:"F Y" }}
    {% endif %}
    {% if next_month %}
        Next Month: {{ next_month|date:"F Y" }}
    {% endif %}

{% endblock %}